.navbar-custom {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    padding: 10px 20px;
    border: 1px solid #2575fc;
    width: 100%;
}

.navbar-custom .navbar-brand img {
    border-radius: 50%;
}

.navbar-custom .navbar-brand {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.mx-custom {
    padding-right: 150px;
}

.navbar-custom .nav-link {
    color: white !important;
    font-size: 1.1em;
    margin: 0 20px;
    transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #ffd700 !important; /* Golden color on hover */
}

.navbar-custom .nav-item .nav-dropdown-item:hover {
    background-color: #ffd700 !important; /* Golden background on hover */
}

.navbar-custom .nav-link .fa-icon {
    margin-right: 5px;
}

.navbar-custom .nav-item .dropdown-menu {
    background: #6a11cb; /* Dropdown background color */
}

.navbar-custom .dropdown-item {
    color: white !important;
}

.navbar-custom .dropdown-item:hover {
    background-color: #2575fc !important;
}
