/* Register.css */

.register-page {
    background: linear-gradient(120deg, #2b6185, #0d0b64);
    background-size: 200% 200%;
    animation: gradientBG 9s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Borda semi-transparente */
    border-radius: 15px; /* Bordas mais arredondadas */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Sombra mais suave */
    backdrop-filter: blur(30px); /* Efeito de desfoque no fundo */
}

.register-form {
    width: 100%;
    margin-top: 20px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.register-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #0056b3;
}

.register-form .d-flex {
    margin-top: 10px;
    margin-right: 110px;
}
